// Colors
$bckg: #ffffff;
$bckgnav: #f0f0f0;
$bckgreg: #fbede9;
$fontc: black;
$gradientbanner: rgba(255, 255, 255, 0.6);

//Font
$fonttitle: "Bree Serif", serif;
$fontsubt: "Merriweather Sans", sans-serif;
$fontcontent: "Questrial", sans-serif;
