// Colors
$bckg: #fdf9f7;
$bckgnav: #fcf3f0;
$bckgreg: #fbede9;
$bckglog: #ffffff;
$fontc: black;
$gradientbanner: rgba(255, 255, 255, 0.6);

//Font
$fontt2: "Homemade Apple", cursive;
$fontsubt: "Sansita Swashed", cursive;
$fontcontent: "Source Code Pro", monospace;
